@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f0f0f6;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bree-serif), serif;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
}

h5 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem;
}

h6 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}
